body {
  background: #ffffff;
}
.text-shadow-black {
  text-shadow: 1px 0px 1px #000;
}
.text-shadow-white {
  text-shadow: 1px 0px 1px #000;
}
.spin-loader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
}
.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes rotator{ 0%{ -webkit-transform:rotate(0); } 100%{ -webkit-transform:rotate(270deg);} }
@keyframes rotator{ 0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0); } 100%{-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);} ;
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes colors{ 0%{ stroke: #4285F4; } 25%{ stroke: #DE3E35;} 50%{ stroke: #F7C223;} 75%{ stroke: #1B9A59;} 100%{ stroke: #4285F4;} }
@keyframes colors{ 0%{ stroke: #4285F4; } 25%{ stroke: #DE3E35;} 50%{ stroke: #F7C223;} 75%{ stroke: #1B9A59;} 100%{ stroke: #4285F4;} ;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes dash{ 0%{ stroke-dashoffset: 187; } 50%{ stroke-dashoffset: 46.75;-webkit-transform:rotate(135deg);} 100%{ stroke-dashoffset: 187;-webkit-transform:rotate(450deg);} }
@keyframes dash{ 0%{ stroke-dashoffset: 187; } 50%{ stroke-dashoffset: 46.75;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);} 100%{ stroke-dashoffset: 187;-webkit-transform:rotate(450deg);-ms-transform:rotate(450deg);transform:rotate(450deg);} ;
}
.cv-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile-info {
  overflow: hidden;
}
.profile-info .profile-pic {
  position: relative;
  margin: -19px;
}
.profile-info .profile-pic .bio {
  position: absolute;
  bottom: 0;
  padding: 15px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}
.profile-info .profile-pic .floating-btn {
  position: absolute;
  left: 85%;
  top: 93%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  border-radius: 50%;
  cursor: default;
  width: 20px;
  box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: width 1s ease, height 1s ease, border-radius 0.4s ease, top 0.9s ease, left 0.9s ease;
          transition: width 1s ease, height 1s ease, border-radius 0.4s ease, top 0.9s ease, left 0.9s ease;
}
.profile-info .profile-pic .floating-btn i {
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
  cursor: pointer;
}
.profile-info .profile-pic .floating-btn.active {
  width: 270%;
  height: 250%;
  left: 50%;
  top: -20%;
  background: #f44336;
}
.profile-info .profile-pic .floating-btn.active i {
  left: 64%;
  top: 10%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.profile-info .profile-pic .floating-btn:hover,
.profile-info .profile-pic .floating-btn:active {
  background: #f44336;
}
.profile-info .thoughts {
  padding-top: 40px;
}
.profile-info .thoughts h4 {
  margin: 0;
  line-height: 1.4;
}
.temp-content {
  position: absolute;
  top: 0;
  z-index: 9;
  width: calc(100% - 30px);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5px 20px;
  margin-top: 38px;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.temp-content.temp-is-shown {
  opacity: 1;
  -webkit-transition: .3s .9s ease;
          transition: .3s .9s ease;
}
/*# sourceMappingURL=style.css.map */