 //   _______      __   _____ _         _           
 //  / ____\ \    / /  / ____| |       | |          
 // | |     \ \  / /  | (___ | |_ _   _| | ___  ___ 
 // | |      \ \/ /    \___ \| __| | | | |/ _ \/ __|
 // | |____   \  /     ____) | |_| |_| | |  __/\__ \
 //  \_____|   \/     |_____/ \__|\__, |_|\___||___/
 //                                __/ |            
 //                               |___/             



 // ---------------------------
 // CV STYLES GOES HERE -----------
 // ---------------------------



 // ---------------------------
 // SETTING BODY CONTAINER TO VERTICALLY AND HORIZONTALLY CENTER -----------
 // ---------------------------


 .cv-container{
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }


 // ---------------------------
 // REMOVING DEFAULT WELL PADDING -----------
 // ---------------------------

	// body{
	// 	.cv-container{
	// 		.profile-info{
	// 			padding: 0;
	// 		}
	// 	}
	// }




 // ---------------------------
 // PROFILE PIC AND THOUGHTS STYLING -----------
 // ---------------------------


.profile-info{
	// PROFILE PIC
	.profile-pic{
		position: relative;
		margin: -19px;
		.bio{
			position: absolute;
			bottom: 0;
			padding: 15px;
		    color: @white;
		    text-shadow: 1px 1px 1px @black;
		}
	}
	// THOUGHTS
	.thoughts{
		padding-top: 40px;
		background: @brand-primary;
		h4{
			margin: 0;
			line-height: 1.4;
		}
	}
}
















